<ion-view view-title="Account">
	<ion-content class="padding">
		<button class="button button-block button-positive icon-left " ng-click="tirarFoto()">
      获取地理定位
    </button>
	<!--	<button class="button button-block button-positive icon-left " ng-click="cityName()">
      获取当前城市名称
    </button>
		</br>
		</br>
		<p>城市名称</p>
		{{cityName}}
		</br>
		</br>
		<p>定位数据</p>
		</br>
		</br>
		{{data}}
		<p>数据2</p>
		{{team}}</br>
		</br>
		<div id="allmap"></div>
		<div id="r-result">

			经度: <input id="longitude" type="text" /> 
			纬度: <input id="latitude" type="text" />

			<input type="button" value="查询" ng-click="theLocation()" />
		</div>
		-->
		<!--<map id="map" on-create="mapCreated(map)" style="height: 50%;" id="mapp"></map>-->
		<div id="allmap"></div>
        <div id="r-result" style="height: 40%;overflow-y: scroll;">
	</ion-content>
</ion-view>