/* Empty. Add your own CSS if you like */

#allmap{
	height: 300px;
	width: 100%;
}
#r-result{
	
	height: 100px;
	width: 100%;
}
#r-result input{
	border: 1px solid #000000;
}
map {
  display: block;
  width: 100%;
  height: 300px;
}
.scroll {
  height: 100%;
}
